<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>User page</title>
</head>
<body>
<div class="container-fluid">
  <div class="row bg-dark align-items-center">
    <div class="col-11">
      <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0">
         <span style="font-weight: bold" id="navbar.email"></span> with roles:
            <span id="navbar.roles" ></span>
    </span>
        <ul class="navbar-nav px-4">
          <div class="nav-item text-nowrap">
            <a class="nav-link" href="/login">Logout</a>
          </div>
        </ul>
      </nav>
    </div>
    <div class="col-1">
      <ul class="nav navbar-nav float-end">
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 bg-white vh-100 p-0"><br>
      <ul class="nav flex-column nav-pills fs-5">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        </div>
        <li class="nav-item">
          <a class="nav-link active" href="/user">User</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10 bg-light vh-100"><br>
      <h1>
        User information-page
      </h1>
      <div>
        <table class="table table-striped table-bordered">
          <tbody>
          <tr>
            <th class="h4 px-4">About user</th>
          </tr>
          <tr>
            <td class="bg-white p-4">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Age</th>
                  <th>Email</th>
                  <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td id="id"></td>
                  <td id="firstname"></td>
                  <td id="lastname"></td>
                  <td id="age"></td>
                  <td id="email"></td>
                  <td id="roles"></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{InitUserPage.js}"></script>
</body>
</html>